/.env
/nohup.out
/nohup_django.out
/nohup_celery.out
/gothub-ai.private-key.pem
/gothubai-firebase-admin-sdk.json

.DS_Store

# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# due to using tox and pytest
.tox
.cache

myenv
dump.rdb
